@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Raleway-regular";
    src: url("../public/Raleway-Regular.ttf");
}
body{
    font-family: "Raleway-regular";
}
.skill-bar{
    animation: moving-bars 1s linear;
}
@keyframes moving-bars{
    0%  { width: 0%; }
}